# Default NAMESPACE created by R
# Remove the previous line if you edit this file


# Import all packages listed as Imports or Depends
#exportPattern("^[[:alpha:]]+")


importFrom(Rcpp, evalCpp)
importFrom("graphics", "plot", "points")
importFrom("utils", "setTxtProgressBar", "txtProgressBar")
importFrom("stats", "aov", "summary.aov", "t.test", "p.adjust", "fisher.test", "prcomp","aggregate","quantile", "wilcox.test","cmdscale", "as.dist", "dist", "kmeans", "kruskal.test","median", "pnorm", "rnorm", "runif", "sd", "var","cor.test")
importFrom("minerva", "mine")
importFrom("Rtsne", "Rtsne_neighbors")
importFrom("umap", "umap.knn", "umap","umap.defaults")
importFrom("parallel", "makeCluster", "stopCluster")
importFrom("doParallel", "registerDoParallel")
importFrom("foreach", "getDoParRegistered", "getDoParWorkers")
importFrom("misc3d", "kde3d","contour3d")

  
S3method(RunKODAMAmatrix,default)
S3method(RunKODAMAmatrix,SingleCellExperiment)
S3method(RunKODAMAmatrix,SpatialExperiment)
S3method(RunKODAMAmatrix,Seurat)
S3method(RunKODAMAmatrix,giotto)

S3method(RunKODAMAvisualization,default)
S3method(RunKODAMAvisualization,SingleCellExperiment)
S3method(RunKODAMAvisualization,SpatialExperiment)
S3method(RunKODAMAvisualization,Seurat)
S3method(RunKODAMAvisualization,giotto)

S3method(refinecluster,default)
S3method(refinecluster,SpatialExperiment)
S3method(refinecluster,Seurat)
S3method(refinecluster,giotto)

S3method(multi_SPARKX,default)
S3method(multi_SPARKX,SpatialExperiment)
# S3method(multi_SPARKX,Seurat)
# S3method(multi_SPARKX,giotto)



export(KODAMA.matrix.parallel)
export(RunKODAMAmatrix)
export(RunKODAMAvisualization)
export(refinecluster)
export(multi_SPARKX)
export(refine_SVM)
export(new_trajectory)
export(read_annotations)
export(volume_rendering)
export(passing.message)

export(plot_slide)
